[loggers]
keys = root,create_spark,validate

[handlers]
keys = consoleHandlers, fileHandlers

[formatters]
keys = sampleFormatter

[logger_root]
level = DEBUG
handlers = consoleHandlers, fileHandlers

[logger_create_spark]
level = INFO
handlers = fileHandlers
qualname = create_spark
propagate = 0

[logger_validate]
level = WARN
handlers = fileHandlers
qualname = validate
propagate = 0

[handler_consoleHandlers]
class = StreamHandler
level = DEBUG
formatter = sampleFormatter
args = (sys.stdout,)

[handler_fileHandlers]
class = logging.FileHandler
level = DEBUG
formatter = sampleFormatter
args = ('application.log',)

[formatter_sampleFormatter]
format = %(asctime)s - %(name)s - %(levelname)s - %(message)s

